.TypeDiets{
    
    border-radius: 10%;
    color:rgb(187, 185, 161); 
    
    font-family: fantasy;
    font-style:italic;
    height: 50px;
    text-align: center;
    width: 150px;
    font-size: 20px;
    box-shadow: 1px 1px 10px rgb(52, 208, 247) ;

    background-size: cover;
    background-color: rgb(0, 0, 0);
    background-image: url(https://i.pinimg.com/originals/8e/92/dd/8e92dd394b49d057d4b68aa71ca960b7.gif);
   

}