*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
    /* color:rgb(167, 19, 19); */
    
    font-size: 115px;
    text-shadow: 3px 3px 5px rgb(71, 71, 69);
    font-family: fantasy;
    background-image: linear-gradient(to left, #5a5656aa, #dbdce3);
}

.button{
    
    /* background-size: 50% 50%; */
    /* border-radius: 50%;
    background-image: linear-gradient(to left, #830d0de0, #25c6b0); */
    cursor: pointer;
    border-radius: 15px;
    font-style:  menu;
    background-size: 50% 50%;
    background-image: url("https://i.pinimg.com/originals/8e/92/dd/8e92dd394b49d057d4b68aa71ca960b7.gif");
    background-size: cover;
    color: rgb(26, 3, 3);
    text-shadow:2px 2px 4px rgb(171, 171, 168);
    font-size: 30px;
    font-weight:bolder;
    padding: 9px 29px 9px 29px;
    box-shadow: 3px 3px 13px rgb(42, 41, 38);
    position: relative;
    margin-top: 5%;

}

.parrafo{

    font-size: 38
    px;
    font-family: fantasy;
    line-height: 0;
    color: aliceblue;
    padding: 29px 49px 29px 49px;
    margin-top: 20%;
}

 /* ANIMACIONES */

.parrafo:hover{
    color: rgb(52, 208, 247);
}

.title:active{
    /* color:rgb(167, 19, 19); */
    color: aliceblue;
    font-size: 115px;
    text-shadow: 3px 3px 5px rgb(40, 56, 57);
    font-family: fantasy;
    background-image: linear-gradient(to left, #783636aa, #28282b);
}

.button:hover{
    
    /* background-size: 50% 50%; */
    /* border-radius: 50%;
    background-image: linear-gradient(to left, #830d0de0, #25c6b0); */
    color: rgb(255, 255, 255);
    transition: .3s;

}